html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe0ea;
  color: black;
  font-family: 'Permanent Marker', sans-serif;
  font-size: 18px;
  margin: 0px;
}

.left, .right {
  /*background-color: white;*/
  margin: 5px;
  /*max-width: 50%;*/
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  padding: 30px 30px;
}

.left {
  max-width: 30%;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
}

.right {
  padding-right: 100px;
}

h1 {
	font-size: 24px
	font-weight: bold;
  text-align: center;
}

h2{
  margin-top: -20px;
}

p{
    /*text-indent: 50px;*/

}

.pro-pic{
  border-radius: 50%;
}

img {
	border-radius: 50%;
}

span.job_title {
	font-weight: bold;
	font-style: italic;
}