html{
	height:100%;
}

body {
  /*background-color: #ffe0ea;*/
	background-image: linear-gradient(#ffe0ea, white);
  color: #BC8F8F;
  font-family: 'Georgia, Times', "Times New Roman", sans-serif;
  font-size: 18px;
  margin: 0;
	border-left: 6px solid #FA8072;
	height:100%;
	    background-repeat: no-repeat;
    background-attachment: fixed;
}

#mainPage{
	display: flex;
	flex-direction: column;
	  align-items: center;
  justify-content: center;
}

header {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.navbar{
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	list-style-type: none;
	color: #BC8F8F;
	text-shadow: -1px 0 #FA8072, 0 1px #FA8072, 1px 0 #FA8072, 0 -1px #FA8072;
}

.dropdown {
	overflow: hidden;
}

.dropdown .dropbtn {
	margin: 0;
	border: none;
	outline: none;
}

.dropdown-content {
	display: none;
	position: absolute;
	z-index: 1;
}

.dropdown-content a{
	display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content{
	display: block;
}

h1 {
	font-family: 'Rubik Mono One', sans-serif;
	text-shadow: -2px 0 #FA8072, 0 2px #FA8072, 2px 0 #FA8072, 0 -2px #FA8072;
	font-size: 24px
	font-weight: bold;
  text-align: center;
	color: #C71585;
}

a:link{
  text-decoration: none!important;
}

#homeImage {	
	border-radius: 50%;
	 border:1px solid #FA8072;
	  display: block;
  margin-left: auto;
  margin-right: auto;
}

span.job_title {
	font-weight: bold;
	font-style: italic;
}

.homePageLink{
	padding-top: 10px;
	color: #BC8F8F;
	text-shadow: -1px 0 #FA8072, 0 1px #FA8072, 1px 0 #FA8072, 0 -1px #FA8072;
}
