body {
  background-color: #ffe0ea;
	background-image: linear-gradient(#ffe0ea, white);
  color: #BC8F8F;
  font-family: 'Georgia, Times', "Times New Roman", sans-serif;
  font-size: 18px;
  padding: 0 5em;
}

.main{
	display: flex;
	flex-direction: column;
}

h1 {
	font-family: 'Rubik Mono One', sans-serif;
	text-shadow: -2px 0 #FA8072, 0 2px #FA8072, 2px 0 #FA8072, 0 -2px #FA8072;
	font-size: 24px
	font-weight: bold;
  text-align: center;
}

img {
	border-radius: 50%;
	  display: block;
  margin-left: auto;
  margin-right: auto;
}

span.job_title {
	font-weight: bold;
	font-style: italic;
}

.homePageLink{
	text-decoration: none;
	color: #BC8F8F;
	border-radius: 30%;
	background-color: #ffe0ea;
	padding: 4px;
}
