body {
  background-color: #ffe0ea;
	background-image: linear-gradient(#ffe0ea, white);
  color: black;
  font-family: 'Georgia, Times', "Times New Roman", sans-serif;
  font-size: 18px;
  padding: 0 5em;
}

.main{
	display: flex;
	flex-direction: column;
}

h1 {
	font-family: 'Permanent Marker', sans-serif;
	font-size: 24px
	font-weight: bold;
  text-align: center;
}

img {
	border-radius: 50%;
	  display: block;
  margin-left: auto;
  margin-right: auto;
}

span.job_title {
	font-weight: bold;
	font-style: italic;
}
